<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수정 페이지</title>
</head>
<body>
    <div>
        <div>
            <form method="POST" action="">{% csrf_token %}
                <input type="text" value="{{post.title}}" name="title" placeholder="수정할 제목!">
                <textarea name="content" placeholder="수정할 내용!">{{post.content}}</textarea>
                <input type="submit" value="수정하기">
            </form>
        </div>
    </div>
</body>
</html>